.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a6c8cb;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 2px solid rgb(104, 104, 104);
  
}


.App-load {
  background-color: #a6c8cb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 5px solid black;
}
.horiLine{
  width:90vw;
  border-top: 1px solid rgb(174, 174, 174);
  border-bottom: 1px solid rgb(174, 174, 174);
}

.vertLine{
  width:0.1px;
  height:40vh;
  border: 1px solid rgb(174, 174, 174);
}
.App-body {
  background-color: #e5c0c0;
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.containerUpper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 46vh;
  width: 100%;
  flex-direction: row;
}
.containerContact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 46vh;
  width: 100%;
}

.box {
  flex: 1;
  
}
.boxContact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 20px; 
}



.chart-container {
  width: 80%; /* Adjust the width as needed */
  max-width: 600px; /* Set a maximum width if desired */
  min-height: 40vh;
  margin: 0 auto; /* Center the chart container horizontally */
  padding: 20px; /* Add some padding around the chart */
  border: 1px solid #ccc; /* Add a border around the chart container */
  border-radius: 5px; /* Round the corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  background-color: #fff; /* Set the background color */
}

.graph-div {
  padding-bottom: 20px;
}





.list-item {
  color: black; /* Change the color to your desired color */
  /* Add other styles as needed */
}
/* Style the scrollbar track */
.tags::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar track */
  
}

/* Style the scrollbar thumb (the draggable part) */
.tags::-webkit-scrollbar-thumb {
  background: #888; /* Background color of the thumb */
  border-bottom-right-radius: 5px; /* Rounded corners */
  border-bottom-left-radius: 5px;
}

/* Style the scrollbar track when the user hovers over it */
.tags::-webkit-scrollbar-track:hover {
  background: #aaa;
  border-bottom-right-radius: 5px; /* Rounded corners */
  border-bottom-left-radius: 5px;
  
}

/* Style for the contact lists */
.tags {
  width: 25vw; /* Adjust width as needed */
  height: 40vh; /* Set a fixed height */
  overflow: auto;
  border: 1px solid #ccc; /* Add borders or other styles as needed */
  background-color: #fff;
  color: black;
  font-size: 20px;
  border: 1px solid #ccc; /* Add a border around the chart container */
  border-bottom-right-radius: 5px; /* Round the corners */
  border-bottom-left-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.invtags {
  width: 50vw; /* Adjust width as needed */
  height: 40vh; /* Set a fixed height */
  overflow: auto;
  border: 1px solid #ccc; /* Add borders or other styles as needed */
  background-color: #fff;
  color: black;
  font-size: 20px;
  border: 1px solid #ccc; /* Add a border around the chart container */
  border-bottom-right-radius: 5px; /* Round the corners */
  border-bottom-left-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tags h3 {
  background-color: #a6c8cb; /* Background color for the section title */
  padding: 8px;
  margin: 0;
  font-size: 20px;
  color: black;
}

.spacer{
  padding: 30px;
}

.boxContact h3 {
  background-color: #a6c8cb;
  padding: 8px;
  margin: 0;
  font-size: 20px;
  color: black;
  border: 1px solid #ccc; /* Add a border around the chart container */
  border-top-right-radius: 5px; /* Round the corners */
  border-top-left-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.customerList{
  background-color: white;
  min-width: 700px;
  color: black;
  margin: 10px 0; /* Add some margin to separate customer lists */
  padding: 10px;
  border: 1px solid #ccc; /* Add a thin border around each customer list */
  border-radius: 5px;
}
.customerList h2{
  background-color: #a6c8cb;
  margin: 0;
  cursor: pointer;
  border-radius: 5px;
}
.customerListText{
  color: black;
}

.customerButton {
  background-color: #3498db; /* Background color */
  color: #ffffff; /* Text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Padding around the text */
  cursor: pointer; /* Add a pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions for hover effects */
}

/* Style the button on hover */
.button:hover {
  background-color: #2980b9; /* Darker background color on hover */
  transform: scale(1.05); /* Slightly increase button size on hover */
}

.purchase-list {
  list-style-type: none;
  padding: 0;
  margin-left: 20px; /* Indent the purchase list */
}

.purchase-list li {
  display: flex; /* Use flex layout for date and amount */
   /* Space items evenly within the flex container */
  margin-bottom: 5px; /* Add spacing between purchase items */
}

.purchase-date {
  flex: 1; /* Allow date to expand and take available space */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.purchase-amount {
  margin-left: 10px; /* Add spacing between date and amount */
}
.purchase-header-Date{
  flex: 1; /* Allow date to expand and take available space */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.purchase-header-Amount{
  flex: 1; /* Allow date to expand and take available space */
  display: flex;
  justify-content: flex-end;
}
.purchase-list {
  list-style: none; /* Remove default list bullets */
  margin: 0;
  padding: 0;
  padding-top: 10px; /* Add spacing between the customer name and purchase list */
  border-top: 1px solid #ccc; /* Add a thin top border to separate from the customer name */
}

.purchase-header {
  display: flex;
  justify-content: space-between; /* Align labels at both ends of the header */
  background-color: #e0e0e0; /* Set the background color for the header */
  padding: 5px 10px;
  border-bottom: 1px solid #ccc; /* Add a thin bottom border to separate from purchases */
}

.purchase-item {
  display: flex;
  justify-content: space-between; /* Align date and amount at both ends */
  padding: 5px 10px;
  border-bottom: 1px solid #ccc; /* Add a thin bottom border to separate items */
}

.purchase-total-text{
  flex: 1; /* Allow date to expand and take available space */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.purchase-total-num{
  flex: 1; /* Allow date to expand and take available space */
  display: flex;
  justify-content: flex-end;
}

.AppLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #a6c8cb; /* Set your desired background color */
  font-family: Arial, sans-serif;
  
}

.login-container {
  background-color: #fff; /* Form background color */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the form horizontally */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content vertically */
}

.login-container h2 {
  margin-bottom: 20px;
  background-color: #e5c0c0;
  width: 100%;
  
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  outline: none;
}

button[type="submit"] {
  background-color: #007bff; /* Submit button background color */
  color: #fff; /* Submit button text color */
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Hover color for submit button */
}
